[submodule "benign_sources"]
	path = benign_sources
	url = ../inputs.git
[submodule "packed_sources"]
    path = packed_sources
    url = rclone::unibox:packer-corpus
[submodule "packers"]
	path = packers
	url = ../tools.git